{% extends 'base.html' %} {% block content %}
<div class="d-flex flex-column h-100 p-4 gap-3">
  <textarea
    id="chatTextarea"
    class="form-control flex-grow-1"
    readonly
  ></textarea>
  <input
    id="messageInput"
    class="form-control"
    type="text"
    placeholder="Enter your message here"
    autocomplete="false"
  />
</div>
<div
  class="modal fade"
  id="usernameModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Enter Name</h5>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="usernameInput" class="form-label">Name</label>
          <input
            class="form-control"
            type="text"
            name="name"
            id="usernameInput"
            placeholder=""
            required
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="joinBtn">Save</button>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %} {{ super() }}
<script
  type="text/javascript"
  src="//cdn.socket.io/4.4.1/socket.io.min.js"
></script>
<script type="text/javascript" charset="utf-8">
  const badger = new Badger({src: "/static/images/favicon.ico"});
  badger.value = 0;
  
  document.addEventListener("visibilitychange", () => {
    if (!document.hidden) {
      badger.value = 0;
    }
  });

  const addStatusToChat = (msg) => {
    addMessageToChat(`<${msg}>`);
  };

  const addMessageToChat = (msg) => {
    const chatEl = document.getElementById("chatTextarea");
    const d = new Date();
    chatEl.value += `[${d.toLocaleTimeString()}] ${msg}\n`;
    chatEl.scrollTop = chatEl.scrollHeight;

    if (document.hidden) {
      badger.value++;
    }
  };

  const updateName = async () => {
    let username = localStorage.getItem("username");
    const usernameInput = document.getElementById("usernameInput");

    if (username) {
      usernameInput.value = username;
    }

    const usernameModalEl = document.getElementById("usernameModal");
    const usernameModal = new bootstrap.Modal(usernameModalEl, {});
    usernameModal.show();

    const joinBtn = document.getElementById("joinBtn");

    username = "";
    while (username == "") {
      await waitForEvent(joinBtn, "click");
      username = usernameInput.value;
    }

    localStorage.setItem("username", username);
    usernameModal.hide();
    return username;
  };

  document.addEventListener("DOMContentLoaded", async () => {
    let username = localStorage.getItem("username");
    if (!username) {
      username = await updateName();
    }

    const socket = io.connect("/chat");
    socket.on("connect", (data) => {
      socket.emit("joined", { name: username });
      addStatusToChat("Connected");
    });
    socket.on("disconnect", (data) => addStatusToChat("Disconnected"));

    socket.on("status", (data) => addStatusToChat(data.msg));
    socket.on("message", (data) => addMessageToChat(data.msg));

    const messageInput = document.getElementById("messageInput");
    messageInput.addEventListener("keypress", (e) => {
      const code = e.keyCode || e.which;
      if (code == 13) {
        const msg = messageInput.value;
        messageInput.value = "";
        socket.emit("message", { msg: msg });
      }
    });
  });
</script>
{% endblock %}
